### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csvFile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseData = pd.read_csv(csvFile)
#purchaseData

## Player Count

* Display the total number of players

In [2]:
cntPlayer=pd.DataFrame({"Total Players" : [purchaseData["SN"].nunique()]})
totalCnts=int(cntPlayer["Total Players"])
cntPlayer.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purcAnalsys = pd.DataFrame({"Number of Unique Items" : [purchaseData["Item ID"].nunique()]
                        ,"Avg Price" : [purchaseData["Price"].mean()]
                        ,"Number of Purchases" : [purchaseData["Purchase ID"].count()]\
                        ,"Total Revenue": [purchaseData["Price"].sum()]}
                      )

#format needed output
formatPrices = {"Avg Price":"${0:,.2f}", "Total Revenue": "${0:,.2f}"}
purcAnalsys.style.format(formatPrices).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#create DF to hold distinct values for SN, Gender, Age (for later)
gen = pd.DataFrame(purchaseData[["SN","Gender","Age"]]).drop_duplicates()
genCnts = pd.DataFrame({"Total Count": gen["Gender"].value_counts()}) 
#genCnts #check for gender output

#add new columns
genCnts["Percentage of Players"] = (genCnts["Total Count"]/totalCnts) * 100
#genCnts #check for gender output ptII

#format needed output
formatPerc = {"Percentage of Players":"{0:,.2f}%"}
genCnts.style.format(formatPerc)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#create groupby df
groupPurc = purchaseData.groupby("Gender").agg(**{
        "Total Counts":("SN", "nunique")
        ,"Purchase Count":("Purchase ID","count")
        ,"Avg Purchase Price":("Price","mean")
        ,"Total Purchase Value":("Price","sum")
})
#groupPurc #output check

#create avg be diving total unique people into the total purchase price
groupPurc["Avg Total Purchase per Person"] = groupPurc["Total Purchase Value"] / groupPurc["Total Counts"] 
#groupPurc #output check

#create drop unneeded column.... this statement is prob not needed either but trying
#to be clever
purcAnalsysGen = groupPurc.drop(columns=["Total Counts"])                      
#purcAnalsysGen #output check

#format needed output
formatPricesGen = {"Avg Purchase Price":"${0:,.2f}", "Total Purchase Value": "${0:,.2f}", "Avg Total Purchase per Person": "${0:,.2f}"}
purcAnalsysGen.style.format(formatPricesGen)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#create bins and labels
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 120]
binNames = ["<10" ,"10-14" ,"15-19" ,"20-24" ,"25-29" ,"30-34" ,"35-39" ,"40+"]

gen["Age Range"] = pd.cut(gen["Age"], bins, labels = binNames, include_lowest = True)
#gen  #output check

#get total counts for each age range
ageDemo = gen.groupby("Age Range").agg(**{
        "Total Count":("SN","count")
})

#sum total counts to get denom
totalCnts = sum(ageDemo["Total Count"])

ageDemo["Percentage of Players"] = (ageDemo["Total Count"] / totalCnts) * 100

# remove index name to match the output in the companion
ageDemo.index.name = None

#format needed output
formatAgeDemoPerc = {"Percentage of Players":"{0:,.2f}%"}
ageDemo.style.format(formatAgeDemoPerc)

## Purchasing Analysis (Age)

* Bin the purchaseData data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#REUSING BINS LOGIC FROM ABOVE LEAVING BELOW IN COMMENTS FOR CONTEXT
# bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 120]
# binNames = ["<10" ,"10-14" ,"15-19" ,"20-24" ,"25-29" ,"30-34" ,"35-39" ,"40+"]

purchaseData["Age Range"] = pd.cut(purchaseData["Age"], bins, labels = binNames, include_lowest = True)
#purchaseData #output check

#create groupby df
agePurc = purchaseData.groupby("Age Range").agg(**{
        "Total Counts":("SN", "nunique")
        ,"Purchase Count":("Purchase ID","count")
        ,"Avg Purchase Price":("Price","mean")
        ,"Total Purchase Value":("Price","sum")
})
# agePurc #output check

#create avg be diving total unique people into the total purchase price
agePurc["Avg Total Purchase per Person"] = agePurc["Total Purchase Value"] / agePurc["Total Counts"] 
#agePurc #output check

#create drop unneeded column.... this statement is prob not needed either 
#but trying to be clever
purcAnalsysAge = agePurc.drop(columns=["Total Counts"])                      
purcAnalsysAge #output check

#format needed output
formatPricesAge = {"Avg Purchase Price":"${0:,.2f}"\
                ,"Total Purchase Value": "${0:,.2f}", "Avg Total Purchase per Person": "${0:,.2f}"}
purcAnalsysAge.style.format(formatPricesAge)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#get counts and avgs yaaa!!!!
spenders = purchaseData.groupby("SN").agg(**{
            "Purchase Count":("Purchase ID","count")
            ,"Avg Purchase Price":("Price", "mean")
            ,"Total Purchase Value":("Price", "sum")
})

#format needed output
formatSpenders = {"Avg Purchase Price":"${0:,.2f}", "Total Purchase Value": "${0:,.2f}"}
spenders.sort_values("Total Purchase Value", ascending = False)\
        .head(5)\
        .style\
        .format(formatSpenders)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#get counts and avgs yaaa!!!!
popItms = purchaseData.groupby(["Item ID","Item Name"]).agg(**{
            "Purchase Count":("Purchase ID","count")
            ,"Item Price":("Price", "mean")  #I'm cheating here by using min as it will only return one value:)
            ,"Total Purchase Value":("Price", "sum")
})
#popItms

#format needed output
formatPopItms = {"Item Price":"${0:,.2f}", "Total Purchase Value": "${0:,.2f}"}
popItms.sort_values("Purchase Count", ascending = False)\
        .head(5)\
        .style\
        .format(formatPopItms)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
popItms.sort_values("Total Purchase Value", ascending = False)\
        .head(5)\
        .style\
        .format(formatPopItms)