### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csvFile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseData = pd.read_csv(csvFile)
purchaseData

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [14]:
cntPlayer=pd.DataFrame({"Player Count" : [purchaseData["SN"].nunique()]})
cntPlayer.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purcAnalsys = pd.DataFrame({"Number of Unique Items" : [purchaseData["Item ID"].nunique()]
                        ,"Average Price" : [purchaseData["Price"].mean()]
                        ,"Number of Purchases" : [purchaseData["Purchase ID"].count()]\
                        ,"Total Revenue": [purchaseData["Price"].sum()]}
                      )
format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue': '${0:,.2f}'}
purcAnalsys.style.format(format_dict).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#demoGender = purchaseData["Gender"].value_counts(normalize=True)
#purchaseData.groupby(['Gender']).agg({'SN':''})
#df.groupby(['state', 'office_id']).agg({'sales': 'sum'})
#demoGender.groupby(["Gender"])

#create DF to hold distinct values for SN and Gender
gen = pd.DataFrame(purchaseData[["SN","Gender","Age"]]).drop_duplicates()
gen['Gender'].value_counts() #check for gender output
#total = gen["SN"].nunique()
# total #check for totals output

#cnts = gen.groupby('Gender').SN.nunique()
#cnts #check for counts output
#perc = gen.value_counts(normalize=True)
#perc #check for % output

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchaseData data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame